# BASIC PYTHON PROGRAMS (50)
- USING OF LOOPS
- USING DEF, LAMDA
- USING OF FUNCTIONS
- PANDAS SERIES
- LIST,TUPLE,DICT
- PANDAS
- NUMPY
#### CODED BY GANJI THILAK
 - github: https://github.com/ganjithilak
 - linkedin: https://www.linkedin.com/in/ganji-thilak-9b6567151


## USING SPLIT FUNCTION

In [ ]:
text = 'hello world this is thilak'
for i in text.split(' '):
    print(i)

## TO CREATE A LIST OF EVEN NUMBERS

In [ ]:
even_num = list(range(100,200,2))
print(even_num)

## TO REPLACE A WORD OR LETTER FROM A SENTENCE

In [ ]:
text = 'hello world this is thilak'
x = input('enter the word you want to replace from the given text: ')
y = input('enter the new word: ')
replace = text.replace(x,y)
print(replace)

## PROGRAM TO FIND A FIBBONACCI SERICE

In [ ]:
number = int(input())
x = 0
y = 1
while number:
    c=x+y
    y=x
    x=c
    print(x)
    number = number-1

## FIND SUM OF ELEMENTS ON LIST

In [ ]:
n = [10,20,30]
for i in n:
    sum(n)
print(sum(n))

## PROGRAM TO FIND FACTORIAL OF GIVEN NUMBER

In [ ]:
n = int(input())
start = 1
while n:
    start=start*n
    n = n-1
print(start)

## PROGRAM TO GENERATE STAR PATTERNS

In [ ]:
for i in range(6):
    print('$'*i)

In [ ]:
n = int(input())
for i in range(n):
    print(' '*(n-i+1)+'*'*(2*i+1))

## NUMBER PATTERENS

In [ ]:
n = list(range(1,10))
for i in range(5):
    for j in range(i+1):
        print(n[i],end=' ')
    print()

In [ ]:
n = list(range(1,10))
for i in range(5):
    for j in range(i+1):
        print(n[i+j],end=' ')
    print()

In [ ]:
num = int(input())
for i in range(1,num+1):
    for j in range(1,i+1):
        print(j,end = ' ')
    print()

## PROGRAM TO CONVER A RANGE OF NUMBERS INTO LIST FORMATE

In [ ]:
l = [] #first create a empty list 
for i in range(1,10):
    l.append(i) #append used to add elements into a list
print(l)

## PROGRAM TO CALCULATE NUMBER OF INT, LOWERCASE, UPPERCASE LETTERS IN A GIVEN SENTENCE

In [ ]:
sentence = input() #enter a sentense
up=0
low=0
num=0
for i in sentence:
    if i.islower():
        low=low+1
    elif i.isupper():
        up = up+1
    elif i.isdigit():
        num = num+1        
print('uppercase letters: ',up)
print('lowercase letters: ',low)
print('int letters: ',num)

## PROGRAM TO FIND THE GIVEN STRING IS A PALINDROME OR NOT

In [ ]:
word = input()
if word == word[::-1]:
    print('yes')
else:
    print('no')

## PROGRAM TO PRINT A SEQUENCE OF NUMBERS INTO SORTED LIST

In [ ]:
L = input()
unsorted = []
for i in L:
    unsorted.append(i)
unsorted.sort()
print(unsorted)

## USING FOR LOOP TO PRINT ALPHABETS

In [ ]:
for alphabet in range(65,91): #use range(97,123): for lowercase letters
    print(chr(alphabet),end=' ')
print()
for alphabet in range(97,123): #use range(65,91): for uppercase letters
    print(chr(alphabet),end=' ')

## PROGRAM TO FIND THE NUMBERS THAT ARE DIVISIBLE WITH BOTH 5 AND 13 IN A GIVEN RANGE OF NUMMBERS

In [ ]:
for i in range(1,1000):
    if i%13==0 and i%5==0:
        print(i)

## PROGRAM TO SIMULATE A DISC ROLL

In [ ]:
import random
num = random.randint(1,6)
print(num)

## PROGRAM TO FIND NO. OF DAYS BETWEEN 2 DATES

In [ ]:
import datetime

def numOfDays(date1, date2):
 return (date2-date1).days

date1_ent = input('Enter a date in YYYY-MM-DD format: ')
year, month, day = map(int, date1_ent.split('-'))
date1 = datetime.date(year, month, day)
date2_ent = input('Enter a date in YYYY-MM-DD format: ')
year, month, day = map(int, date2_ent.split('-'))
date2 = datetime.date(year, month, day)
print(numOfDays(date1, date2), "days")

## PRIME NUMBERS PROGRAM

In [ ]:
c=[]
for n in range (1, 101):
    count = 0
    for i in range(2, (n//2 + 1)):
        if(n % i == 0):
            count = count + 1
            break
    if (count == 0 and n!= 1):
        c.append(n)
print(c)

## PROGRAM TO CALCULATE ALL POSSIBLE PERMITATIONS OF GIVEN NUMBERS

In [ ]:
seq = list(map(int,input().split(','))) #ex: 3,2,4
perm = [[]]
for num in seq:
    temp = []
    for i in perm:
        for j in range(len(i)+1):
            temp.append(i[:j] + [num] + i[j:])
            perm = temp
print('permitation:',perm)

## PROGRAM TO GENERATE A SEQUENCE OF N NUMBERS OF A GEOMETRIC PROGRESSION WHEN INITIAL NUMBER (a) AND COMMON RATIO (r) IS GIVEN AND PRINT THE SEQUENCE IS A LIST.

In [ ]:
N,a,r = map(int,input().split(' '))#enter 3 values giving space (eg: 20 3 4)
seq = []
for i in range(N):
    seq.append(a*r**(i))
print(seq)

 ## PROGRAM TO GENERATE NUMBER FROM 1 TO 1000 AND SAVE IN A TXT FILE AND PRINT ONLY ARMSTRONG NUMBERS

In [ ]:
file = open('sample.txt','w')
for i in range(1,1000):
    file.write(str(i)+'\n')
file.close()

In [ ]:
file = open('sample.txt','r')
for i in file.readlines():
    num=i[:-1]
    s=0
    for m in list(num):
        s=s+int(m)**3
    if s==int(num):
        print(num)
file.close()

## PROGRAM TO FIND SQUARE, CUBE, OF A NUMBER USING DEF AND LAMBDA

In [ ]:
def sqr(n):
    return lambda n:n*n
def cub(n):
    return lambda n:n*n*n
n = int(input('enter a num: '))
s = sqr(n)
c = cub(n)
print('square is {} and cube is {} '.format(s(n),c(n)))

# PANDAS

## PROGRAM TO CREATE A PANDAS SERIES

In [ ]:
import pandas as pd
import numpy as np
X,Y = map(int,input().split(' '))
series=pd.Series(np.arange(X,Y+1))
print(series)

## PROGRAM TO ADD, SUB, MULT, DIVD TWO PANDASS SERIES

In [ ]:
import pandas as pd
l1 = map(int,input('LIST 1: ').split(',')) #ex: 2,3,4,5,6
l2 = map(int,input('LIST 2: ').split(',')) #ex: 9,8,7,6,5
S1 = pd.Series(l1)
S2 = pd.Series(l2)
print("ADD IS \n {} \n SUB IS \n {} \n MULT IS \n {} \n DIVD IS \n {} ".format(S1+S2,S1-S2,S1*S2,S1/S2))

## PROGRAM TO CONVERT A DICT INTO PANDAS SERIES

In [ ]:
import pandas as pd
my_dict = {'yash':28,'krish':22,'thilak':21,'yogesh':23}
ser = pd.Series(my_dict) # 'S' MUST BE IN UPPER CASE
print(ser)

## PROGRAM TO ADD AND DELETE COLUMNS TO A DATAFRAME WHEN A DICTIONARY IS PROVIDED

In [ ]:
import pandas
data = {'one': pandas.Series([1, 2, 3], index=['a', 'b', 'c']),'two': pandas.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}
table = pandas.DataFrame(data)
print("Before adding a column: ")
print(table)
print()
table['three'] = pandas.Series([10, 20, 30], index=['a', 'b', 'c'])
print("After adding a column: ")
print(table)
print()
print("Deleting column three: ")
del table['three']
print(table)
print()
print("Deleting column one: ")
table.pop('one')
print(table)

## PROGRAM TO CHANGE THE DATA TYPE OF GIVEN A COLUMN OR A SERIES

In [ ]:
import pandas as pd
s1 = pd.Series(['100', '200', 'python', '300.12', '400'])
print("Original Data Series:")
print(s1)
print()
print("Change the said data type to numeric:")
s2 = pd.to_numeric(s1, errors='coerce') #COERCE IS USED TO FORCE STOP ERRORS
print(s2)

## PROGRAM TO CREATE THE MEAN AND STANDARD DEVIATION OF THE DATA OF A GIVEN SERIES

In [ ]:
import pandas as pd
s = pd.Series(data = [1,2,3,4,5,6,7,8,9,5,3])
print("Original Data Series:")
print(s)
print("\nMean of the said Data Series:")
print(s.mean())
print("\nStandard deviation of the said Data Series:")
print(s.std())

## PROGRAM TO CHANGE THE ORDER OF INDEX OF A GIVEN SERIES

In [ ]:
import pandas as pd
s = pd.Series(data = [1,2,3,4,5], index = ['A', 'B', 'C','D','E'])
print("Original Data Series:")
print(s)
print()
s = s.reindex(index = ['B','A','C','D','E'])
print("Data Series after changing the order of index:")
print(s)

# ROCK , PAPER, SCISSOR GAME

#### ROCK BEATS SCISSOR
#### SCISSOR BEATS PAPER
#### PAPER BEATS ROCK

In [ ]:
import random
p1=0
p2=0
win_lose = {'win':['rs','pr','sp'],'draw':['rr','pp','ss'],'loss':['rp','ps','sr']}
repeat = 'y'
l = ['r','s','p','r','p','s','p','r','s']
while repeat=='y':
    turn=input("your choice (r,p,s): ")
    c=random.choice(l)
    print('computer choice: ',c)
    for i in win_lose:
        if str(turn)+c in win_lose[i]:
            print(i)

## PROGRAM TO DEBET AND CREDIT MONEY FROM A BANK ACCOUNT USING FUNCTION

In [ ]:
def make_account():
    {'password':input('enter password: ' )}
    return {'balance':0}
def deposit(account,amount,password):
    if 'password'=='password':
        account['balance'] += amount
        return account['balance']
    else:
        return 'wrong password'
def withdraw(account,amount):
    if 'password'=='password':
        account['balance'] -= amount
        return account['balance']
    else:
        return 'wrong password'
#a = make_account()
#deposit(a,100,password)
#withdraw(a,200,password)
#print(a)

## PROGRAM TO SIMULATE DISTRIBUTION OF A DECK OF CARDS

- The Deck class should have a deal method to deal a card from the deck
- After a card is dealt, it is removed from the deck.
- There should be a shuffle method which makes sure the deck of cards has all 52 cards and then rearranges them randomly.
- The Card class should have a suit (Hearts, Diamonds,Clubs, Spades) and a value
- (A,2,3,4,5,6,7,8,9,10,J,Q,K)

In [ ]:
import random
def deck():
    rs = [rank + suit for rank in 'A234567890KQJ' for suit in 'cdhs'] # 0 REPRESENTS 10,CLUB AS c, DIAMOND AS d, HEART AS h, SPADES AS s
    return rs
def draw_cards(n, cards_list):
    random.shuffle(cards_list)
    return [cards_list.pop() for k in range(n)]
cards_list = deck()
print("deck = %s cards" % len(cards_list)) # test
# draw n cards per hand
n = 13
# draw the hands
hand1 = draw_cards(n, cards_list)
hand2 = draw_cards(n, cards_list)
print('-'*40)
# show the 2 hands
print("hand1 = %s" % hand1)
print("hand2 = %s" % hand2)
print('-'*40)
print("remain_deck = %s cards" % len(cards_list)) # test

# NUMPY

NUMPY IS USED FOR SOLVING COMPLEX MATH IN PYTHON

##  PROGRAM TO GENERATE N RANDOM

In [ ]:
import numpy as np
n=int(input("Entyer number: "))
x = np.random.normal(size=n)
print(x)

## PROGRAM TO CREATE RANDOM VECTOR OF SIZE N AND REPLACE THE MAXIMUM VALUE BY N

In [ ]:
import numpy as np
n=int(input("Enter value of N: "))
x = np.random.random(n)
print("Original array:")
print(x)
x[x.argmax()] = n
print("Maximum value replaced by -1:")
print(x)

## PROGRAM TO FIND THE MOST FREQUENT VALUE IN AN ARRAY

In [ ]:
import numpy as np
x = np.random.randint(0, 10, 40)
print("Original array:")
print(x)
print("Most frequent value in the above array:")
print(np.bincount(x).argmax())

## PROGRAM TO CREATE A 3X3X3 ARRAY WITH RANDOM VALUES

In [ ]:
import numpy as np
x = np.random.random((3,3,3))
print(x)

## PROGRAME TO DETERMINE THE RANK OF THE MATRIX

In [ ]:
import numpy
A = numpy.matrix([[1,3,7],[2,8,3],[7,8,1]])
numpy.linalg.matrix_rank(A)

## PROGRAM TO CONVERT A NUMPY ARRAY TO PANDASS SERIES

In [ ]:
import numpy as np
import pandas as pd
np_array = np.array([10, 20, 30, 40, 50])
print("NumPy array:")
print(np_array)
print()
new_series = pd.Series(np_array)
print("Converted Pandas series:")
print(new_series)

any suggestions dm on linkedin:
ALWAYS WELCOME